# Recommendation System

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [3]:
user = pd.read_csv(r"C:\Users\Akhil\Desktop\data analytics\users.csv")
movies = pd.read_csv(r"C:\Users\Akhil\Desktop\data analytics\Movies.csv")

In [4]:
user.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [5]:
movies.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [6]:
user.shape, movies.shape

((100003, 4), (1682, 2))

In [7]:
df=pd.merge(user, movies)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100003 non-null  int64
 1   item_id    100003 non-null  int64
 2   rating     100003 non-null  int64
 3   timestamp  100003 non-null  int64
 4   title      100003 non-null  object
dtypes: int64(4), object(1)
memory usage: 3.8+ MB

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.head()

   user_id  item_id  rating  timestamp                            title
0        0       50       5  881250949                 Star Wars (1977)
1        0      172       5  881250949  Empire Strikes Back, The (1980)
2        0      133       1  881250949        Gone with the Wind (1939)
3      196      242       3  881250949                     Kolya (1996)
4      186      302       3  891717742         L.A. Confidential (1997)

In [12]:
df.drop("timestamp", axis=1, inplace=True)

In [13]:
df.head()

   user_id  item_id  rating                            title
0        0       50       5                 Star Wars (1977)
1        0      172       5  Empire Strikes Back, The (1980)
2        0      133       1        Gone with the Wind (1939)
3      196      242       3                     Kolya (1996)
4      186      302       3         L.A. Confidential (1997)

In [15]:
# check which movies has highest avg ratings
df.groupby("title")["rating"].mean().sort_values(ascending=False)

title
Aiqing wansui (1994)                                 5.0
Entertaining Angels: The Dorothy Day Story (1996)    5.0
Santa with Muscles (1996)                            5.0
Prefontaine (1997)                                   5.0
They Made Me a Criminal (1939)                       5.0
                                                    ...
Pharaoh's Army (1995)                                1.0
August (1996)                                        1.0
Babyfever (1994)                                     1.0
Amityville: A New Generation (1993)                  1.0
Woman in Question, The (1950)                        1.0
Name: rating, Length: 1664, dtype: float64

In [16]:
df["title"].value_counts()

title
Star Wars (1977)                              584
Contact (1997)                                509
Fargo (1996)                                  508
Return of the Jedi (1983)                     507
Liar Liar (1997)                              485
                                             ...
Eighth Day, The (1996)                          1
Mamma Roma (1962)                               1
Scream of Stone (Schrei aus Stein) (1991)       1
Getting Away With Murder (1996)                 1
Nobody Loves Me (Keiner liebt mich) (1994)      1
Name: count, Length: 1664, dtype: int64

In [17]:
df["title"].value_counts() < 100

title
Star Wars (1977)                              False
Contact (1997)                                False
Fargo (1996)                                  False
Return of the Jedi (1983)                     False
Liar Liar (1997)                              False
                                              ...
Eighth Day, The (1996)                         True
Mamma Roma (1962)                              True
Scream of Stone (Schrei aus Stein) (1991)      True
Getting Away With Murder (1996)                True
Nobody Loves Me (Keiner liebt mich) (1994)     True
Name: count, Length: 1664, dtype: bool

In [19]:
movie_count=df["title"].value_counts().reset_index()
movie_count

                                           title  count
0                               Star Wars (1977)    584
1                                 Contact (1997)    509
2                                   Fargo (1996)    508
3                      Return of the Jedi (1983)    507
4                               Liar Liar (1997)    485
...                                          ...    ...
1659                      Eighth Day, The (1996)      1
1660                           Mamma Roma (1962)      1
1661   Scream of Stone (Schrei aus Stein) (1991)      1
1662             Getting Away With Murder (1996)      1
1663  Nobody Loves Me (Keiner liebt mich) (1994)      1

[1664 rows x 2 columns]

In [22]:
top_rated_movies=movie_count.query("count >=100")["title"].tolist()
top_rated_movies

['Star Wars (1977)',
 'Contact (1997)',
 'Fargo (1996)',
 'Return of the Jedi (1983)',
 'Liar Liar (1997)',
 'English Patient, The (1996)',
 'Scream (1996)',
 'Toy Story (1995)',
 'Air Force One (1997)',
 'Independence Day (ID4) (1996)',
 'Raiders of the Lost Ark (1981)',
 'Godfather, The (1972)',
 'Pulp Fiction (1994)',
 'Twelve Monkeys (1995)',
 'Silence of the Lambs, The (1991)',
 'Jerry Maguire (1996)',
 'Chasing Amy (1997)',
 'Rock, The (1996)',
 'Empire Strikes Back, The (1980)',
 'Star Trek: First Contact (1996)',
 'Titanic (1997)',
 'Back to the Future (1985)',
 'Mission: Impossible (1996)',
 'Fugitive, The (1993)',
 'Indiana Jones and the Last Crusade (1989)',
 'Willy Wonka and the Chocolate Factory (1971)',
 'Princess Bride, The (1987)',
 'Forrest Gump (1994)',
 'Monty Python and the Holy Grail (1974)',
 'Saint, The (1997)',
 'Full Monty, The (1997)',
 'Men in Black (1997)',
 'Terminator, The (1984)',
 'E.T. the Extra-Terrestrial (1982)',
 'Dead Man Walking (1995)',
 'Leaving Las Vegas (1995)',
 "Schindler's List (1993)",
 'Braveheart (1995)',
 'L.A. Confidential (1997)',
 'Terminator 2: Judgment Day (1991)',
 'Conspiracy Theory (1997)',
 'Birdcage, The (1996)',
 'Twister (1996)',
 "Mr. Holland's Opus (1995)",
 'Alien (1979)',
 'When Harry Met Sally... (1989)',
 'Aliens (1986)',
 'Shawshank Redemption, The (1994)',
 'Groundhog Day (1993)',
 'Jaws (1975)',
 'Amadeus (1984)',
 'Apollo 13 (1995)',
 'Blade Runner (1982)',
 'Truth About Cats & Dogs, The (1996)',
 'Sense and Sensibility (1995)',
 'Ransom (1996)',
 'Usual Suspects, The (1995)',
 "One Flew Over the Cuckoo's Nest (1975)",
 'Jurassic Park (1993)',
 'Evita (1996)',
 '2001: A Space Odyssey (1968)',
 'Raising Arizona (1987)',
 'Dances with Wolves (1990)',
 'Broken Arrow (1996)',
 'Game, The (1997)',
 'Dead Poets Society (1989)',
 'Four Weddings and a Funeral (1994)',
 'Blues Brothers, The (1980)',
 'Trainspotting (1996)',
 'Fish Called Wanda, A (1988)',
 'Wizard of Oz, The (1939)',
 'Phenomenon (1996)',
 'Star Trek: The Wrath of Khan (1982)',
 'Die Hard (1988)',
 'Casablanca (1942)',
 'Sting, The (1973)',
 "Devil's Own, The (1997)",
 "Dante's Peak (1997)",
 'Psycho (1960)',
 'Graduate, The (1967)',
 'Seven (Se7en) (1995)',
 'Time to Kill, A (1996)',
 "It's a Wonderful Life (1946)",
 'Speed (1994)',
 'In & Out (1997)',
 'Hunt for Red October, The (1990)',
 'Stand by Me (1986)',
 'GoodFellas (1990)',
 'Heat (1995)',
 'Sound of Music, The (1965)',
 'Clockwork Orange, A (1971)',
 'Courage Under Fire (1996)',
 'Apocalypse Now (1979)',
 'Top Gun (1986)',
 'Lion King, The (1994)',
 'Babe (1995)',
 'To Kill a Mockingbird (1962)',
 'Aladdin (1992)',
 'Volcano (1997)',
 'Murder at 1600 (1997)',
 'Mars Attacks! (1996)',
 'Butch Cassidy and the Sundance Kid (1969)',
 'People vs. Larry Flynt, The (1996)',
 'Sleepless in Seattle (1993)',
 'Field of Dreams (1989)',
 'Starship Troopers (1997)',
 'Rear Window (1954)',
 'Godfather: Part II, The (1974)',
 'Get Shorty (1995)',
 'Brazil (1985)',
 'True Lies (1994)',
 'Eraser (1996)',
 'M*A*S*H (1970)',
 'Shining, The (1980)',
 'Beauty and the Beast (1991)',
 'Boot, Das (1981)',
 'Batman (1989)',
 'Young Frankenstein (1974)',
 'Star Trek IV: The Voyage Home (1986)',
 'Good Will Hunting (1997)',
 'Citizen Kane (1941)',
 'Fifth Element, The (1997)',
 'Gandhi (1982)',
 'Face/Off (1997)',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)',
 'Tin Cup (1996)',
 'Mrs. Doubtfire (1993)',
 'This Is Spinal Tap (1984)',
 'Sabrina (1995)',
 'Boogie Nights (1997)',
 "Devil's Advocate, The (1997)",
 'Lone Star (1996)',
 'Long Kiss Goodnight, The (1996)',
 'Mighty Aphrodite (1995)',
 "Ulee's Gold (1997)",
 'Postino, Il (1994)',
 'Taxi Driver (1976)',
 'Unforgiven (1992)',
 'Dave (1993)',
 'Tomorrow Never Dies (1997)',
 'Fly Away Home (1996)',
 'Annie Hall (1977)',
 'Vertigo (1958)',
 'North by Northwest (1959)',
 'Clear and Present Danger (1994)',
 'Mary Poppins (1964)',
 'Primal Fear (1996)',
 'Emma (1996)',
 'Much Ado About Nothing (1993)',
 'That Thing You Do! (1996)',
 'G.I. Jane (1997)',
 'Quiz Show (1994)',
 'Cop Land (1997)',
 'Rumble in the Bronx (1995)',
 'Fantasia (1940)',
 "Monty Python's Life of Brian (1979)",
 'Lawrence of Arabia (1962)',
 "My Best Friend's Wedding (1997)",
 'Snow White and the Seven Dwarfs (1937)',
 'Gone with the Wind (1939)',
 'Heathers (1989)',
 'Glory (1989)',
 'Star Trek III: The Search for Spock (1984)',
 'Cape Fear (1991)',
 'Big Night (1996)',
 'Grease (1978)',
 'Full Metal Jacket (1987)',
 'Ghost (1990)',
 'Clueless (1995)',
 'Mother (1996)',
 'In the Line of Fire (1993)',
 'Sleepers (1996)',
 'Everyone Says I Love You (1996)',
 'Piano, The (1993)',
 'Die Hard 2 (1990)',
 'Bridge on the River Kwai, The (1957)',
 'Cool Hand Luke (1967)',
 'Pretty Woman (1990)',
 'American President, The (1995)',
 'Nutty Professor, The (1996)',
 'While You Were Sleeping (1995)',
 'Secrets & Lies (1996)',
 'George of the Jungle (1997)',
 'Birds, The (1963)',
 'Kingpin (1996)',
 'Star Trek VI: The Undiscovered Country (1991)',
 'First Wives Club, The (1996)',
 'Apt Pupil (1998)',
 'Grosse Pointe Blank (1997)',
 'Lost World: Jurassic Park, The (1997)',
 'Dragonheart (1996)',
 'Executive Decision (1996)',
 'Right Stuff, The (1983)',
 'Swingers (1996)',
 'Beavis and Butt-head Do America (1996)',
 'Seven Years in Tibet (1997)',
 'Crimson Tide (1995)',
 'Fried Green Tomatoes (1991)',
 'Highlander (1986)',
 'African Queen, The (1951)',
 'Firm, The (1993)',
 'Abyss, The (1989)',
 'Die Hard: With a Vengeance (1995)',
 'Remains of the Day, The (1993)',
 'Sneakers (1992)',
 'Happy Gilmore (1996)',
 'Professional, The (1994)',
 'Grumpier Old Men (1995)',
 'Reservoir Dogs (1992)',
 'Like Water For Chocolate (Como agua para chocolate) (1992)',
 'Clerks (1994)',
 'Donnie Brasco (1997)',
 'Chinatown (1974)',
 'River Wild, The (1994)',
 'Rainmaker, The (1997)',
 "Jackie Chan's First Strike (1996)",
 'Nightmare Before Christmas, The (1993)',
 'Kiss the Girls (1997)',
 'Spawn (1997)',
 'Batman Returns (1992)',
 'Searching for Bobby Fischer (1993)',
 'Maltese Falcon, The (1941)',
 'Wag the Dog (1997)',
 'Home Alone (1990)',
 "Singin' in the Rain (1952)",
 'Con Air (1997)',
 'Philadelphia (1993)',
 'Interview with the Vampire (1994)',
 'Good, The Bad and The Ugly, The (1966)',
 'Sling Blade (1996)',
 'Patton (1970)',
 'Gattaca (1997)',
 'Peacemaker, The (1997)',
 'Crow, The (1994)',
 'Multiplicity (1996)',
 'Room with a View, A (1986)',
 'Ed Wood (1994)',
 'Jungle2Jungle (1997)',
 'Manchurian Candidate, The (1962)',
 'GoldenEye (1995)',
 'Mystery Science Theater 3000: The Movie (1996)',
 'Austin Powers: International Man of Mystery (1997)',
 'Mask, The (1994)',
 'Shine (1996)',
 'Bound (1996)',
 'Cinderella (1950)',
 'Crash (1996)',
 'Last of the Mohicans, The (1992)',
 'Natural Born Killers (1994)',
 'Father of the Bride Part II (1995)',
 'Ghost and the Darkness, The (1996)',
 'Maverick (1994)',
 'Some Like It Hot (1959)',
 'Absolute Power (1997)',
 'Hunchback of Notre Dame, The (1996)',
 'Stargate (1994)',
 'Platoon (1986)',
 'Nikita (La Femme Nikita) (1990)',
 'Event Horizon (1997)',
 'James and the Giant Peach (1996)',
 'Jackie Brown (1997)',
 'My Fair Lady (1964)',
 '12 Angry Men (1957)',
 'Cold Comfort Farm (1995)',
 'Lost Highway (1997)',
 'Under Siege (1992)',
 'Ben-Hur (1959)',
 'Henry V (1989)',
 'Amistad (1997)',
 'Great Escape, The (1963)',
 'Alien: Resurrection (1997)',
 'Dumbo (1941)',
 'Bonnie and Clyde (1967)',
 'Cinema Paradiso (1988)',
 'Harold and Maude (1971)',
 'My Left Foot (1989)',
 'Magnificent Seven, The (1954)',
 'Carrie (1976)',
 'Killing Fields, The (1984)',
 'Net, The (1995)',
 "Bram Stoker's Dracula (1992)",
 'Deer Hunter, The (1978)',
 'Crying Game, The (1992)',
 'Real Genius (1985)',
 'Michael (1996)',
 'Wrong Trousers, The (1993)',
 'Hoop Dreams (1994)',
 'Star Trek: The Motion Picture (1979)',
 'Kolya (1996)',
 'Star Trek: Generations (1994)',
 'Being There (1979)',
 'Army of Darkness (1993)',
 'Raging Bull (1980)',
 "What's Eating Gilbert Grape (1993)",
 'Beautiful Girls (1996)',
 'Arsenic and Old Lace (1944)',
 'Frighteners, The (1996)',
 'Batman Forever (1995)',
 'Pink Floyd - The Wall (1982)',
 'Rosewood (1997)',
 'Edge, The (1997)',
 'As Good As It Gets (1997)',
 'One Fine Day (1996)',
 'Close Shave, A (1995)',
 'Welcome to the Dollhouse (1995)',
 'Nightmare on Elm Street, A (1984)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Hudsucker Proxy, The (1994)',
 '101 Dalmatians (1996)',
 'Tombstone (1993)',
 'Ice Storm, The (1997)',
 'Conan the Barbarian (1981)',
 'Cable Guy, The (1996)',
 'On Golden Pond (1981)',
 'Scream 2 (1997)',
 "William Shakespeare's Romeo and Juliet (1996)",
 'Mr. Smith Goes to Washington (1939)',
 'Outbreak (1995)',
 'Philadelphia Story, The (1940)',
 'Strictly Ballroom (1992)',
 'True Romance (1993)',
 'Craft, The (1996)',
 'Ace Ventura: Pet Detective (1994)',
 'Little Women (1994)',
 'Benny & Joon (1993)',
 'Waterworld (1995)',
 'In the Name of the Father (1993)',
 'Down Periscope (1996)',
 'Young Guns (1988)',
 'Sex, Lies, and Videotape (1989)',
 'Miracle on 34th Street (1994)',
 'Basic Instinct (1992)',
 'Mimic (1997)',
 'Pinocchio (1940)',
 'Private Parts (1997)',
 'I Know What You Did Last Summer (1997)',
 "Muriel's Wedding (1994)",
 'Alien 3 (1992)']

In [25]:
dummy=df[df["title"].isin(top_rated_movies)]
dummy

        user_id  item_id  rating                            title
0             0       50       5                 Star Wars (1977)
1             0      172       5  Empire Strikes Back, The (1980)
2             0      133       1        Gone with the Wind (1939)
3           196      242       3                     Kolya (1996)
4           186      302       3         L.A. Confidential (1997)
...         ...      ...     ...                              ...
99996       913      209       2        This Is Spinal Tap (1984)
99998       880      476       3     First Wives Club, The (1996)
99999       716      204       5        Back to the Future (1985)
100001       13      225       2            101 Dalmatians (1996)
100002       12      203       3                Unforgiven (1992)

[65011 rows x 4 columns]

In [27]:
dummy["title"].value_counts()

title
Star Wars (1977)                          584
Contact (1997)                            509
Fargo (1996)                              508
Return of the Jedi (1983)                 507
Liar Liar (1997)                          485
                                         ...
Young Guns (1988)                         101
Alien 3 (1992)                            100
Muriel's Wedding (1994)                   100
I Know What You Did Last Summer (1997)    100
Private Parts (1997)                      100
Name: count, Length: 338, dtype: int64

In [29]:
dummy.groupby("title")["rating"].mean().sort_values(ascending=False)

title
Close Shave, A (1995)               4.491071
Schindler's List (1993)             4.466443
Wrong Trousers, The (1993)          4.466102
Casablanca (1942)                   4.456790
Shawshank Redemption, The (1994)    4.445230
                                      ...
Spawn (1997)                        2.615385
Event Horizon (1997)                2.574803
Crash (1996)                        2.546875
Jungle2Jungle (1997)                2.439394
Cable Guy, The (1996)               2.339623
Name: rating, Length: 338, dtype: float64

In [30]:
# sorting of values done now we can do analysis

# Content Based Analysis

In [34]:
user_matrix=pd.pivot_table(dummy, index="user_id", columns="title", values="rating", fill_value='0')
user_matrix

title,101 Dalmatians (1996),12 Angry Men (1957),2001: A Space Odyssey (1968),Absolute Power (1997),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),"Adventures of Priscilla, Queen of the Desert, The (1994)","African Queen, The (1951)",Air Force One (1997),Aladdin (1992),...,Welcome to the Dollhouse (1995),What's Eating Gilbert Grape (1993),When Harry Met Sally... (1989),While You Were Sleeping (1995),William Shakespeare's Romeo and Juliet (1996),Willy Wonka and the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wrong Trousers, The (1993)",Young Frankenstein (1974),Young Guns (1988)
user_id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,5.0,4.0,0,3.0,3.0,0,0,0,4.0,...,5.0,4.0,5.0,4.0,0,4.0,4.0,5.0,5.0,3.0
2,0,0,0,3.0,0,0,0,0,4.0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,2.0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,5.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
940,0,0,0,0,2.0,0,3.0,0,5.0,5.0,...,0,0,4.0,4.0,0,3.0,0,0,0,0
941,0,0,0,0,0,0,0,0,4.0,0,...,0,0,0,0,0,0,0,0,0,0
942,0,0,3.0,0,0,0,0,5.0,5.0,5.0,...,0,0,4.0,0,0,0,0,0,0,0
943,0,0,0,0,0,4.0,0,0,0,0,...,0,0,4.0,0,2.0,4.0,3.0,0,0,4.0

In [36]:
movies_corr=user_matrix.corr()
movies_corr

title,101 Dalmatians (1996),12 Angry Men (1957),2001: A Space Odyssey (1968),Absolute Power (1997),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),"Adventures of Priscilla, Queen of the Desert, The (1994)","African Queen, The (1951)",Air Force One (1997),Aladdin (1992),...,Welcome to the Dollhouse (1995),What's Eating Gilbert Grape (1993),When Harry Met Sally... (1989),While You Were Sleeping (1995),William Shakespeare's Romeo and Juliet (1996),Willy Wonka and the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wrong Trousers, The (1993)",Young Frankenstein (1974),Young Guns (1988)
title,,,,,,,,,,,,,,,,,,,,,
101 Dalmatians (1996),1.000000,0.059375,0.078451,0.221130,0.121285,0.139528,0.050001,0.035496,-0.019539,0.270790,...,0.013468,0.066371,0.154508,0.147774,0.054002,0.311255,0.124808,0.074758,0.155599,0.115300
12 Angry Men (1957),0.059375,1.000000,0.298878,0.019941,0.156865,0.133561,0.166552,0.334520,-0.092575,0.180380,...,0.070451,0.172270,0.306059,0.178179,0.106180,0.115326,0.287940,0.170314,0.290332,0.165072
2001: A Space Odyssey (1968),0.078451,0.298878,1.000000,0.038087,0.264959,0.152161,0.220209,0.424876,-0.116048,0.313925,...,0.088662,0.278408,0.398991,0.184501,0.229041,0.238804,0.475098,0.262839,0.429475,0.168606
Absolute Power (1997),0.221130,0.019941,0.038087,1.000000,0.142961,0.141678,0.084612,0.044810,0.100275,0.169417,...,0.063733,0.074297,0.120691,0.128749,0.053843,0.203032,0.099469,0.038708,0.100284,0.136724
"Abyss, The (1989)",0.121285,0.156865,0.264959,0.142961,1.000000,0.262477,0.178875,0.239053,-0.041637,0.327824,...,0.128638,0.197370,0.269361,0.262960,0.249810,0.250272,0.292867,0.147161,0.205142,0.311095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Willy Wonka and the Chocolate Factory (1971),0.311255,0.115326,0.238804,0.203032,0.250272,0.213095,0.157996,0.191931,-0.091412,0.332164,...,0.236653,0.214564,0.278194,0.196430,0.213751,1.000000,0.304920,0.184869,0.297173,0.207439
"Wizard of Oz, The (1939)",0.124808,0.287940,0.475098,0.099469,0.292867,0.254391,0.271337,0.463788,-0.112362,0.397361,...,0.080285,0.339209,0.417209,0.271858,0.275599,0.304920,1.000000,0.198414,0.444793,0.244236
"Wrong Trousers, The (1993)",0.074758,0.170314,0.262839,0.038708,0.147161,0.135630,0.224635,0.166543,-0.125319,0.254779,...,0.097428,0.164062,0.200230,0.161209,0.153841,0.184869,0.198414,1.000000,0.313518,0.090719
Young Frankenstein (1974),0.155599,0.290332,0.429475,0.100284,0.205142,0.330563,0.264801,0.364351,-0.126300,0.364407,...,0.127684,0.315871,0.422832,0.280778,0.163648,0.297173,0.444793,0.313518,1.000000,0.294684
Young Guns (1988),0.115300,0.165072,0.168606,0.136724,0.311095,0.453880,0.117871,0.097969,-0.014424,0.317573,...,0.083045,0.235310,0.298344,0.314256,0.243828,0.207439,0.244236,0.090719,0.294684,1.000000

In [39]:
movies_corr["Star Wars (1977)"].sort_values(ascending=False).head(6)[1:]

title
Return of the Jedi (1983)                    0.746797
Empire Strikes Back, The (1980)              0.555233
Raiders of the Lost Ark (1981)               0.540455
Indiana Jones and the Last Crusade (1989)    0.467523
Toy Story (1995)                             0.456219
Name: Star Wars (1977), dtype: float64

In [63]:
def movie_recommender(movie):
    return movies_corr[movie].sort_values(ascending=False).head(6)[1:]

In [64]:
movie_recommender("Event Horizon (1997)")

title
Mimic (1997)                  0.365647
Alien: Resurrection (1997)    0.290812
Edge, The (1997)              0.282791
Volcano (1997)                0.270164
Spawn (1997)                  0.262289
Name: Event Horizon (1997), dtype: float64

In [65]:
movie_recommender("Toy Story (1995)")

title
Star Wars (1977)                                0.456219
Independence Day (ID4) (1996)                   0.454983
Rock, The (1996)                                0.432208
Willy Wonka and the Chocolate Factory (1971)    0.424341
Return of the Jedi (1983)                       0.423556
Name: Toy Story (1995), dtype: float64

In [66]:
movie_recommender("Grosse Pointe Blank (1997)")

title
Donnie Brasco (1997)                                  0.428904
Face/Off (1997)                                       0.398350
Austin Powers: International Man of Mystery (1997)    0.380282
Men in Black (1997)                                   0.372106
Con Air (1997)                                        0.356637
Name: Grosse Pointe Blank (1997), dtype: float64

In [67]:
movie_recommender("Event Horizon (1997)").index

Index(['Mimic (1997)', 'Alien: Resurrection (1997)', 'Edge, The (1997)',
       'Volcano (1997)', 'Spawn (1997)'],
      dtype='object', name='title')

In [68]:
dummy[dummy["title"].isin(movie_recommender("Event Horizon (1997)").index)]

       user_id  item_id  rating                       title
131        250      264       3                Mimic (1997)
279        181      264       2                Mimic (1997)
340         94      343       4  Alien: Resurrection (1997)
372         61      678       3              Volcano (1997)
1211        15      331       3            Edge, The (1997)
...        ...      ...     ...                         ...
98729      364      678       4              Volcano (1997)
98827      327      678       3              Volcano (1997)
99115      399      343       2  Alien: Resurrection (1997)
99269      367      331       4            Edge, The (1997)
99701      574      358       2                Spawn (1997)

[700 rows x 4 columns]

In [69]:
dummy[(dummy["title"].isin(movie_recommender("Event Horizon (1997)").index)) &
        (- dummy["title"].isin(["Event Horizon (1997)"]))]["user_id"].tolist()

[250,
 181,
 94,
 61,
 15,
 116,
 4,
 112,
 82,
 224,
 129,
 13,
 178,
 15,
 268,
 3,
 255,
 102,
 205,
 143,
 3,
 211,
 240,
 178,
 293,
 21,
 91,
 294,
 299,
 297,
 263,
 20,
 91,
 29,
 292,
 153,
 294,
 229,
 320,
 33,
 328,
 117,
 130,
 30,
 55,
 191,
 199,
 26,
 220,
 166,
 159,
 102,
 112,
 213,
 13,
 99,
 164,
 29,
 206,
 63,
 1,
 28,
 61,
 391,
 130,
 304,
 344,
 57,
 335,
 250,
 49,
 308,
 201,
 420,
 92,
 29,
 396,
 141,
 327,
 7,
 317,
 116,
 248,
 22,
 183,
 262,
 179,
 173,
 294,
 390,
 142,
 384,
 294,
 303,
 113,
 3,
 414,
 24,
 104,
 428,
 13,
 130,
 435,
 130,
 355,
 422,
 343,
 459,
 309,
 414,
 391,
 177,
 299,
 425,
 303,
 176,
 464,
 377,
 418,
 388,
 250,
 417,
 173,
 455,
 341,
 317,
 462,
 464,
 451,
 451,
 241,
 195,
 467,
 276,
 117,
 7,
 404,
 362,
 334,
 466,
 253,
 484,
 462,
 355,
 177,
 409,
 444,
 404,
 100,
 507,
 504,
 428,
 276,
 339,
 105,
 416,
 75,
 221,
 430,
 197,
 332,
 447,
 35,
 181,
 276,
 44,
 169,
 253,
 489,
 404,
 323,
 489,
 36,
 528,
 486,
 254,
 429,
 99,
 242,
 351,
 408,
 129,
 506,
 416,
 548,
 220,
 346,
 532,
 294,
 529,
 511,
 351,
 168,
 33,
 35,
 200,
 561,
 363,
 116,
 276,
 493,
 502,
 479,
 561,
 363,
 316,
 329,
 293,
 282,
 596,
 602,
 510,
 416,
 551,
 399,
 195,
 370,
 395,
 557,
 489,
 281,
 580,
 432,
 520,
 431,
 76,
 356,
 476,
 417,
 303,
 589,
 592,
 526,
 292,
 162,
 510,
 76,
 574,
 425,
 459,
 127,
 620,
 308,
 206,
 280,
 443,
 146,
 587,
 144,
 493,
 193,
 255,
 531,
 255,
 455,
 481,
 502,
 549,
 191,
 82,
 526,
 49,
 353,
 409,
 70,
 435,
 665,
 592,
 472,
 595,
 300,
 610,
 459,
 554,
 616,
 586,
 29,
 450,
 497,
 654,
 597,
 697,
 353,
 116,
 145,
 683,
 560,
 664,
 107,
 619,
 324,
 711,
 727,
 443,
 699,
 256,
 301,
 57,
 313,
 145,
 222,
 489,
 551,
 688,
 195,
 145,
 188,
 155,
 624,
 387,
 717,
 710,
 369,
 626,
 489,
 750,
 519,
 328,
 725,
 721,
 683,
 757,
 727,
 666,
 708,
 454,
 687,
 479,
 414,
 784,
 507,
 728,
 435,
 748,
 537,
 592,
 276,
 578,
 324,
 595,
 544,
 548,
 687,
 254,
 809,
 133,
 782,
 761,
 548,
 782,
 13,
 616,
 435,
 759,
 588,
 302,
 602,
 721,
 578,
 624,
 626,
 488,
 775,
 40,
 816,
 526,
 149,
 682,
 782,
 663,
 806,
 443,
 597,
 750,
 772,
 666,
 668,
 563,
 755,
 858,
 817,
 234,
 824,
 706,
 26,
 722,
 548,
 853,
 856,
 863,
 725,
 841,
 425,
 544,
 805,
 598,
 775,
 717,
 775,
 724,
 804,
 648,
 472,
 548,
 827,
 629,
 486,
 587,
 807,
 372,
 181,
 605,
 145,
 201,
 21,
 502,
 164,
 749,
 353,
 268,
 770,
 770,
 812,
 770,
 534,
 805,
 433,
 509,
 790,
 615,
 126,
 423,
 783,
 868,
 634,
 810,
 852,
 724,
 820,
 717,
 807,
 677,
 379,
 592,
 606,
 177,
 317,
 486,
 831,
 464,
 813,
 834,
 893,
 702,
 755,
 787,
 178,
 757,
 826,
 820,
 116,
 889,
 587,
 105,
 602,
 919,
 339,
 616,
 587,
 529,
 851,
 826,
 181,
 627,
 394,
 896,
 881,
 319,
 417,
 854,
 931,
 894,
 493,
 920,
 841,
 529,
 727,
 851,
 421,
 634,
 35,
 646,
 537,
 625,
 580,
 752,
 70,
 925,
 592,
 853,
 70,
 502,
 488,
 896,
 521,
 198,
 76,
 240,
 883,
 790,
 56,
 841,
 40,
 451,
 805,
 758,
 783,
 682,
 812,
 851,
 761,
 472,
 401,
 880,
 332,
 721,
 736,
 560,
 788,
 853,
 724,
 587,
 822,
 170,
 134,
 99,
 717,
 222,
 674,
 710,
 816,
 91,
 894,
 940,
 928,
 493,
 4,
 494,
 782,
 854,
 697,
 429,
 802,
 505,
 802,
 804,
 783,
 755,
 853,
 397,
 436,
 831,
 635,
 940,
 898,
 104,
 721,
 109,
 752,
 451,
 248,
 282,
 825,
 74,
 802,
 626,
 839,
 649,
 400,
 805,
 474,
 345,
 21,
 863,
 660,
 551,
 427,
 186,
 695,
 570,
 735,
 923,
 758,
 541,
 445,
 749,
 540,
 635,
 576,
 936,
 858,
 832,
 546,
 377,
 292,
 500,
 938,
 772,
 875,
 898,
 511,
 13,
 938,
 852,
 913,
 782,
 919,
 724,
 630,
 472,
 828,
 159,
 833,
 873,
 773,
 708,
 941,
 802,
 320,
 810,
 372,
 894,
 916,
 894,
 921,
 801,
 8,
 511,
 689,
 816,
 864,
 871,
 852,
 862,
 816,
 362,
 799,
 803,
 74,
 801,
 808,
 936,
 38,
 752,
 867,
 863,
 738,
 695,
 683,
 677,
 501,
 791,
 919,
 773,
 695,
 695,
 474,
 893,
 784,
 683,
 772,
 814,
 579,
 832,
 919,
 938,
 811,
 864,
 827,
 724,
 820,
 397,
 940,
 854,
 942,
 940,
 908,
 936,
 528,
 919,
 394,
 860,
 827,
 757,
 809,
 364,
 327,
 399,
 367,
 574]

In [75]:
def user_id_list(movie_name):
    return set(dummy[(dummy["title"].isin(movie_recommender(movie_name).index)) &
        (- dummy["title"].isin([movie_name]))]["user_id"].tolist())

In [76]:
len(user_id_list("Event Horizon (1997)"))

399

In [71]:
user_id_list("Event Horizon (1997)")

[250,
 181,
 94,
 61,
 15,
 116,
 4,
 112,
 82,
 224,
 129,
 13,
 178,
 15,
 268,
 3,
 255,
 102,
 205,
 143,
 3,
 211,
 240,
 178,
 293,
 21,
 91,
 294,
 299,
 297,
 263,
 20,
 91,
 29,
 292,
 153,
 294,
 229,
 320,
 33,
 328,
 117,
 130,
 30,
 55,
 191,
 199,
 26,
 220,
 166,
 159,
 102,
 112,
 213,
 13,
 99,
 164,
 29,
 206,
 63,
 1,
 28,
 61,
 391,
 130,
 304,
 344,
 57,
 335,
 250,
 49,
 308,
 201,
 420,
 92,
 29,
 396,
 141,
 327,
 7,
 317,
 116,
 248,
 22,
 183,
 262,
 179,
 173,
 294,
 390,
 142,
 384,
 294,
 303,
 113,
 3,
 414,
 24,
 104,
 428,
 13,
 130,
 435,
 130,
 355,
 422,
 343,
 459,
 309,
 414,
 391,
 177,
 299,
 425,
 303,
 176,
 464,
 377,
 418,
 388,
 250,
 417,
 173,
 455,
 341,
 317,
 462,
 464,
 451,
 451,
 241,
 195,
 467,
 276,
 117,
 7,
 404,
 362,
 334,
 466,
 253,
 484,
 462,
 355,
 177,
 409,
 444,
 404,
 100,
 507,
 504,
 428,
 276,
 339,
 105,
 416,
 75,
 221,
 430,
 197,
 332,
 447,
 35,
 181,
 276,
 44,
 169,
 253,
 489,
 404,
 323,
 489,
 36,
 528,
 486,
 254,
 429,
 99,
 242,
 351,
 408,
 129,
 506,
 416,
 548,
 220,
 346,
 532,
 294,
 529,
 511,
 351,
 168,
 33,
 35,
 200,
 561,
 363,
 116,
 276,
 493,
 502,
 479,
 561,
 363,
 316,
 329,
 293,
 282,
 596,
 602,
 510,
 416,
 551,
 399,
 195,
 370,
 395,
 557,
 489,
 281,
 580,
 432,
 520,
 431,
 76,
 356,
 476,
 417,
 303,
 589,
 592,
 526,
 292,
 162,
 510,
 76,
 574,
 425,
 459,
 127,
 620,
 308,
 206,
 280,
 443,
 146,
 587,
 144,
 493,
 193,
 255,
 531,
 255,
 455,
 481,
 502,
 549,
 191,
 82,
 526,
 49,
 353,
 409,
 70,
 435,
 665,
 592,
 472,
 595,
 300,
 610,
 459,
 554,
 616,
 586,
 29,
 450,
 497,
 654,
 597,
 697,
 353,
 116,
 145,
 683,
 560,
 664,
 107,
 619,
 324,
 711,
 727,
 443,
 699,
 256,
 301,
 57,
 313,
 145,
 222,
 489,
 551,
 688,
 195,
 145,
 188,
 155,
 624,
 387,
 717,
 710,
 369,
 626,
 489,
 750,
 519,
 328,
 725,
 721,
 683,
 757,
 727,
 666,
 708,
 454,
 687,
 479,
 414,
 784,
 507,
 728,
 435,
 748,
 537,
 592,
 276,
 578,
 324,
 595,
 544,
 548,
 687,
 254,
 809,
 133,
 782,
 761,
 548,
 782,
 13,
 616,
 435,
 759,
 588,
 302,
 602,
 721,
 578,
 624,
 626,
 488,
 775,
 40,
 816,
 526,
 149,
 682,
 782,
 663,
 806,
 443,
 597,
 750,
 772,
 666,
 668,
 563,
 755,
 858,
 817,
 234,
 824,
 706,
 26,
 722,
 548,
 853,
 856,
 863,
 725,
 841,
 425,
 544,
 805,
 598,
 775,
 717,
 775,
 724,
 804,
 648,
 472,
 548,
 827,
 629,
 486,
 587,
 807,
 372,
 181,
 605,
 145,
 201,
 21,
 502,
 164,
 749,
 353,
 268,
 770,
 770,
 812,
 770,
 534,
 805,
 433,
 509,
 790,
 615,
 126,
 423,
 783,
 868,
 634,
 810,
 852,
 724,
 820,
 717,
 807,
 677,
 379,
 592,
 606,
 177,
 317,
 486,
 831,
 464,
 813,
 834,
 893,
 702,
 755,
 787,
 178,
 757,
 826,
 820,
 116,
 889,
 587,
 105,
 602,
 919,
 339,
 616,
 587,
 529,
 851,
 826,
 181,
 627,
 394,
 896,
 881,
 319,
 417,
 854,
 931,
 894,
 493,
 920,
 841,
 529,
 727,
 851,
 421,
 634,
 35,
 646,
 537,
 625,
 580,
 752,
 70,
 925,
 592,
 853,
 70,
 502,
 488,
 896,
 521,
 198,
 76,
 240,
 883,
 790,
 56,
 841,
 40,
 451,
 805,
 758,
 783,
 682,
 812,
 851,
 761,
 472,
 401,
 880,
 332,
 721,
 736,
 560,
 788,
 853,
 724,
 587,
 822,
 170,
 134,
 99,
 717,
 222,
 674,
 710,
 816,
 91,
 894,
 940,
 928,
 493,
 4,
 494,
 782,
 854,
 697,
 429,
 802,
 505,
 802,
 804,
 783,
 755,
 853,
 397,
 436,
 831,
 635,
 940,
 898,
 104,
 721,
 109,
 752,
 451,
 248,
 282,
 825,
 74,
 802,
 626,
 839,
 649,
 400,
 805,
 474,
 345,
 21,
 863,
 660,
 551,
 427,
 186,
 695,
 570,
 735,
 923,
 758,
 541,
 445,
 749,
 540,
 635,
 576,
 936,
 858,
 832,
 546,
 377,
 292,
 500,
 938,
 772,
 875,
 898,
 511,
 13,
 938,
 852,
 913,
 782,
 919,
 724,
 630,
 472,
 828,
 159,
 833,
 873,
 773,
 708,
 941,
 802,
 320,
 810,
 372,
 894,
 916,
 894,
 921,
 801,
 8,
 511,
 689,
 816,
 864,
 871,
 852,
 862,
 816,
 362,
 799,
 803,
 74,
 801,
 808,
 936,
 38,
 752,
 867,
 863,
 738,
 695,
 683,
 677,
 501,
 791,
 919,
 773,
 695,
 695,
 474,
 893,
 784,
 683,
 772,
 814,
 579,
 832,
 919,
 938,
 811,
 864,
 827,
 724,
 820,
 397,
 940,
 854,
 942,
 940,
 908,
 936,
 528,
 919,
 394,
 860,
 827,
 757,
 809,
 364,
 327,
 399,
 367,
 574]

In [72]:
len(user_id_list("Event Horizon (1997)"))

700

# Collebrative Filtering

In [77]:
movie_matrix = pd.pivot_table(dummy, index="title", columns="user_id", values="rating", fill_value='0')
movie_matrix

user_id,0,1,2,3,4,5,6,7,8,9,...,934,935,936,937,938,939,940,941,942,943
title,,,,,,,,,,,,,,,,,,,,,
101 Dalmatians (1996),0,2.0,0,0,0,2.0,0,0,0,0,...,2.0,0,0,2.0,4.0,0,0,0,0,0
12 Angry Men (1957),0,5.0,0,0,0,0,4.0,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2001: A Space Odyssey (1968),0,4.0,0,0,0,4.0,5.0,5.0,0,0,...,4.0,0,0,0,0,0,0,0,3.0,0
Absolute Power (1997),0,0,3.0,0,0,0,0,0,0,0,...,0,0,0,0,4.0,0,0,0,0,0
"Abyss, The (1989)",0,3.0,0,0,0,0,0,5.0,0,0,...,0,0,0,0,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Willy Wonka and the Chocolate Factory (1971),0,4.0,0,0,0,3.0,3.0,4.0,0,0,...,3.0,0,0,0,4.0,0,3.0,0,0,4.0
"Wizard of Oz, The (1939)",0,4.0,0,0,0,0,5.0,5.0,0,0,...,4.0,0,0,0,0,0,0,0,0,3.0
"Wrong Trousers, The (1993)",0,5.0,0,0,0,5.0,4.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Young Frankenstein (1974),0,5.0,0,0,0,4.0,4.0,5.0,0,0,...,5.0,0,0,0,0,0,0,0,0,0
Young Guns (1988),0,3.0,0,0,0,0,0,3.0,0,0,...,0,0,0,0,0,0,0,0,0,4.0

In [78]:
user_corr = movie_matrix.corr()
user_corr

user_id,0,1,2,3,4,5,6,7,8,9,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
0,1.000000,0.119795,0.111087,-0.024751,0.185292,0.167661,0.027793,0.075264,0.223369,0.203732,...,0.152852,-0.026088,0.051701,0.163922,0.080232,-0.025099,0.138994,-0.019970,0.190657,0.107554
1,0.119795,1.000000,-0.054261,-0.174900,-0.077941,0.243078,0.223382,0.174818,0.214558,-0.096754,...,0.245160,-0.068712,-0.002040,0.042228,-0.103845,-0.068293,0.095377,0.050027,-0.058466,0.226611
2,0.111087,-0.054261,1.000000,0.041123,0.192187,-0.079160,0.112407,-0.176112,-0.005781,0.177655,...,0.024462,0.320928,0.403441,0.448704,0.297926,0.221100,0.133281,0.133072,0.098932,-0.068617
3,-0.024751,-0.174900,0.041123,1.000000,0.385212,-0.124788,-0.089820,-0.193639,-0.023045,0.042234,...,-0.126703,-0.026391,0.184488,0.026195,0.058330,-0.043854,0.060679,0.078801,0.088167,-0.148253
4,0.185292,-0.077941,0.192187,0.385212,1.000000,-0.068370,-0.048101,-0.045944,0.175958,0.117834,...,-0.044107,-0.016168,0.145758,0.231297,0.119851,-0.018673,0.130808,0.160397,0.139429,-0.068390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,-0.025099,-0.068293,0.221100,-0.043854,-0.018673,-0.052703,-0.019697,-0.100944,-0.012922,0.003084,...,-0.087694,0.486941,0.285651,0.264024,0.439152,1.000000,-0.032396,0.146490,-0.084828,0.033381
940,0.138994,0.095377,0.133281,0.060679,0.130808,0.046024,0.192481,0.082902,0.114544,0.073328,...,0.140577,-0.024392,0.065172,0.109270,-0.025193,-0.032396,1.000000,0.064923,0.149723,0.026546
941,-0.019970,0.050027,0.133072,0.078801,0.160397,0.089488,0.059181,-0.141900,0.087856,0.156667,...,-0.076719,0.187983,0.292641,0.199637,0.283520,0.146490,0.064923,1.000000,0.035673,-0.012814
942,0.190657,-0.058466,0.098932,0.088167,0.139429,0.009043,0.181069,0.095648,0.052931,-0.009536,...,0.063823,-0.032603,-0.058521,0.068880,-0.069201,-0.084828,0.149723,0.035673,1.000000,0.015007
943,0.107554,0.226611,-0.068617,-0.148253,-0.068390,0.185380,0.045843,0.180770,0.194424,-0.051297,...,0.074770,0.105169,-0.068965,-0.060808,-0.015857,0.033381,0.026546,-0.012814,0.015007,1.000000

In [80]:
user_corr[123].sort_values(ascending=False).head(6)[1:]

user_id
6      0.437433
383    0.370512
321    0.364702
492    0.362265
382    0.350788
Name: 123, dtype: float64

In [81]:
# find movies seen by above user id but user 123 dosent seen

In [82]:
similar_user = user_corr[123].sort_values(ascending=False).head(6)[1:].index
similar_user

Index([6, 383, 321, 492, 382], dtype='int64', name='user_id')

In [102]:
def similar_user(user_id):
   return user_corr[user_id].sort_values(ascending=False).head(6)[1:].index

In [103]:
similar_user(123)

Index([6, 383, 321, 492, 382], dtype='int64', name='user_id')

In [106]:
def movie_list(user_id):
    return dummy[(dummy["user_id"].isin(similar_user(user_id))) & 
    (dummy["user_id"]!=123)]["title"].value_counts().head(5).index.tolist()

In [107]:
movie_list(123)

['Citizen Kane (1941)',
 'English Patient, The (1996)',
 'Fargo (1996)',
 'Annie Hall (1977)',
 'Shine (1996)']